
.tabulator .tabulator-cell.cell-editable {
    background-color: #e0f7f3; /* #a7ffb957; */
}

.tabulator .cell-position-changed {
    background-color: #8ac1f2;
}

.tabulator .last-row-moved {
    background-color: #f2c18a;
}

.tabulator .last-row-moved:hover {
    background-color: #f3b16e;
}
